# To update requirements.txt for praxis and paxml, run:
# cd ../../paxml/pip_package && bash ./compile_requirements.sh

absl-py
chex
clu @ git+https://github.com/google/CommonLoopUtils
einops
etils
fiddle @ git+https://github.com/google/fiddle
flax @ git+https://github.com/google/flax
jax @ git+https://github.com/google/jax
jax-bitempered-loss
jaxtyping
lingvo
numpy
optax
optax-shampoo
opt-einsum
sentencepiece
tensorflow-datasets
tensorflow-metadata
tensorflow-text
tensorflow
tfds-nightly
typeguard
